Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-decouple
django-cors-headers
celery
redis
django-redis
django-filter
drf-yasg
requests
Pillow
gunicorn
django-phonenumber-field
phonenumbers
